SECRET_KEY=your_secret_key_here
DEBUG=True
STRIPE_SECRET_KEY=your_stripe_secret_key_here

# Настройки Redis и Celery
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# Настройки почты (для отправки уведомлений)
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=your_app_password
EMAIL_USE_SSL=True
