asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
coverage==7.16.2
Django==6.1.1
django-filter==26.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
flake8==7.4.1
idna==3.20
inflection==0.5.1
mccabe==0.7.0
packaging==26.3
pillow==12.3.0
pycodestyle==2.15.0
pyflakes==4.0.0
PyJWT==2.15.1
python-dotenv==1.2.3
pytz==2026.4
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.6.0
stripe==15.6.1
typing_extensions==4.16.0
tzdata==2026.4
uritemplate==4.2.0
urllib3==2.8.0
